/* Create two unequal columns that floats next to each other */
/* Left column */
/* Create three unequal columns that floats next to each other */
.column {
  flex: 1 1 48%;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
  .column {
    flex: 1 1 100%;
  }
}
