.header {
  height: 80px;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center; /* 하위 요소들 수직 가운데정렬 */
  border-bottom: 1px solid gray;
}

.header h1 {
  font-size: 2rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 1440px) {
	.header  {
    height: 40px;
  }
	.header h1  {
		font-size: 1rem;
	}
}

@media screen and (max-width: 1920px) {
	.header  {
    height: 60px;
  }
	.header h1  {
		font-size: 1.25rem;
	}
}